<button type="reset" (click)="addContact()" class="btn btn-dark button">
  Add Contact
</button>
<div class="container">
  <input
    type="text"
    name="search"
    id="search"
    [(ngModel)]="search"
    placeholder="search"
  />
</div>
<table class="table table-bordered table-hover">
  <thead>
    <th (click)="sort('firstName')">
      First Name&nbsp;<i class="fa fa-sort"></i>
    </th>
    <th>last Name</th>
    <th>Contact Owner</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Company</th>
    <th>jobTitle</th>
    <th>Actions</th>
    <th></th>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let contact of contacts
          | filter : search
          | paginate : { itemsPerPage: 5, currentPage: p }
          | orderBy : key : reverse
      "
    >
      <td>{{ contact.firstName }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.contactOwner }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.phone }}</td>
      <td>{{ contact.company }}</td>
      <td>{{ contact.jobTitle }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          (click)="editContact(contact)"
        >
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
      </td>

      <td>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteContact(contact.id)"
        >
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-info"
          (click)="showActivitiesWindow(contact)"
        >
          <i class="fa-solid fa-list"></i>
        </button>
      </td>
    </tr>
  </tbody>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table>
